@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title></title>
    @Html.Raw(Styles.Render("~/Content/css").ToString())
    @Html.Raw(@Scripts.Render("~/bundles/extLibs", "~/bundles/angular").ToString())
    @RenderSection("head", required: false)
</head>
<body data-ng-app="app" data-ng-cloak>
    @RenderBody()
</body>
</html>
